page-login {
    .loginWrapper{
        padding: 20px;
    }

    ion-label{
        color: map-get($colors, primary);;
    }
    
    ion-item{
        padding-left: 20px !important;
        margin-bottom: 10px;
        border: 0px !important;
        box-shadow: none !important;
    }

    .logo{
        width: 50%;
        height: 50%;
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        background: transparent;
    }

    .button{
        margin-left: auto;
        margin-right: auto;
        display: block;
        background: transparent;
        border-radius: 5px;
        border: 2px solid map-get($colors, primary);
        color: map-get($colors, primary);
    }

    .register-button{
        color: map-get($colors, primary);
        text-decoration: underline;
        background: transparent;
        margin-top: 10%;
        font-size: 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    .item-input.ng-valid.input-has-value::after{ border-bottom-color: transparent; }
}
