<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides>
    <ion-slide>



      <div class="registerWrapper">
        <ion-list>
          <form [formGroup]="registerForm1" (ngSubmit)="goToUniversitySlide()">

            <ion-item-divider>
              <ion-icon item-start name="person"></ion-icon>
              {{ "User info" }}
            </ion-item-divider>

            <ion-item *ngIf="!registerForm1.controls.name.valid  && submitAttempt">
              <p small class="errorMsg">Name is not valid!</p>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Name" [(ngModel)]="user.name" name="name" formControlName="name" type="text"></ion-input>
            </ion-item>

            <ion-item *ngIf="!registerForm1.controls.surname.valid  && submitAttempt">
              <p small class="errorMsg">Surname is not valid!</p>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Surname" [(ngModel)]="user.surname" name="surname" formControlName="surname" type="text"></ion-input>
            </ion-item>

            <ion-item-divider>
              <ion-icon item-start name="lock"></ion-icon>
              {{ "Password" }}
            </ion-item-divider>

            <ion-item *ngIf="!registerForm1.controls.password.valid  && submitAttempt">
              <p small class="errorMsg">Password is not valid!</p>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Password" [(ngModel)]="user.password" formControlName="password" type="password"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Confirm password"  [(ngModel)]="secondPassword" formControlName="password" type="password"></ion-input>
            </ion-item>


            <button ion-button color="button" block type="submit" class="submitBtn">Next</button>
          </form>

        </ion-list>
      </div>
    </ion-slide>


    <ion-slide>
      <div class="registerWrapper">
        <ion-list>
          <form [formGroup]="registerForm2" (ngSubmit)="goToCourseList()">

            <ion-item-divider>
              <ion-icon item-start name="mail"></ion-icon>
              {{ "Contact info" }}
            </ion-item-divider>

            <ion-item *ngIf="!registerForm2.controls.email.valid  && submitAttempt">
              <p small class="errorMsg">Email is not valid!</p>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Email" [(ngModel)]="user.email" formControlName="email" type="text"></ion-input>
            </ion-item>

            <ion-item *ngIf="!registerForm2.controls.phoneNumber.valid  && submitAttempt">
              <p small class="errorMsg">Phone number is not valid!</p>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Phone" [(ngModel)]="user.phoneNumber" formControlName="phoneNumber"></ion-input>
            </ion-item>


            <ion-item-divider>
              <ion-icon item-start name="paper"></ion-icon>
              {{ "University info" }}
            </ion-item-divider>


            <ion-item>
              <ion-label>Department</ion-label>
              <ion-select [(ngModel)]="user.department" formControlName="department">
                <ion-option value="cti-ro">CTI-RO</ion-option>
                <ion-option value="cti-en">CTI-EN</ion-option>
                <ion-option value="is">IS</ion-option>
              </ion-select>

            </ion-item>

            <ion-item>
              <ion-label>Year</ion-label>
              <ion-select [(ngModel)]="user.year" formControlName="year">
                <ion-option value="1">First</ion-option>
                <ion-option value="2">Second</ion-option>
                <ion-option value="3">Third</ion-option>
                <ion-option value="4">Fourth</ion-option>
              </ion-select>
            </ion-item>


            <ion-item *ngIf="!registerForm2.controls.group.valid  && submitAttempt">
              <p small class="errorMsg">Group is not valid!</p>
            </ion-item>
            <ion-item>
              <ion-label>Group</ion-label>
              <ion-select [(ngModel)]="user.group" formControlName="group">
                  <ion-option value="1">1</ion-option>
                  <ion-option value="2">2</ion-option>
                  <ion-option value="3">3</ion-option>
                  <ion-option value="4">4</ion-option>
                  <ion-option value="5">5</ion-option>
              </ion-select>
            </ion-item>

            <ion-item *ngIf="!registerForm2.controls.subgroup.valid  && submitAttempt">
              <p small class="errorMsg">Subgroup is not valid!</p>
            </ion-item>
            <ion-item>
              <ion-label>Subgroup</ion-label>
              <ion-select [(ngModel)]="user.subgroup" formControlName="subgroup">
                  <ion-option value="1">1</ion-option>
                  <ion-option value="2">2</ion-option>
              </ion-select>
            </ion-item>

            <button ion-button color="button" type="submit" block class="submitBtn">Next</button>
          </form>

        </ion-list>
      </div>
    </ion-slide>

    <ion-slide>
          <h2>Choose 2 of the following courses:</h2>
          <ion-card [ngClass]="{selected:highlightItem(item)}" *ngFor="let item of courseList" (click)="selectCourse(item)">
            <ion-card-header style="background: #cccccc">
                {{item.name}}
            </ion-card-header>

            <ion-card-content>
                <p>Teacher: {{item.teacher}}</p>
                <p>Description: {{item.description}}</p>
            </ion-card-content>
          </ion-card>

          <button ion-button color="button" block class="submitBtn" (click)="doRegister()">Register</button>
    </ion-slide>

  </ion-slides>

</ion-content>