page-register {
    .errorMsg{
        font-weight: bold;
        color: red !important;
    }

    .registerWrapper{
        padding: 20px;
    }

    ion-item-divider{
        background: transparent !important; 
        margin-top: 10px;
    }

    ion-slide.swiper-slide {
        align-items: flex-start;
    }
    ion-item-divider{
        text-align: left;
    }
    ion-select{
        max-width: 60% !important;
    }

    .selected{
        border: solid 1px blue;
    }

    .inputBox{
        margin: 10px;
        background: #aaaaaa;
        border-radius: 10px;
    }

    .submitBtn{
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
        display: block;
        background: transparent;
        width: 30%;
        border-radius: 5px;
        border: 2px solid map-get($colors, primary);
        color: map-get($colors, primary);
    }
}
