<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="registerWrapper">
    <ion-list no-lines>
      <form [formGroup]="registerForm" (ngSubmit)="doRegister()">

        <ion-item *ngIf="!registerForm.controls.name.valid  && submitAttempt">
          <p small class="errorMsg">Name is not valid!</p>
        </ion-item>
        <ion-item class="inputBox">
          <ion-label>Name:</ion-label>
          <ion-input [(ngModel)]="user.name" name="name" formControlName="name" type="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="!registerForm.controls.surname.valid  && submitAttempt">
            <p small class="errorMsg">Surname is not valid!</p>
          </ion-item>
          <ion-item class="inputBox">
            <ion-label>Surname:</ion-label>
            <ion-input [(ngModel)]="user.surname" name="surname" formControlName="surname" type="text"></ion-input>
          </ion-item>

        <ion-item *ngIf="!registerForm.controls.password.valid  && submitAttempt">
            <p small class="errorMsg">Password is not valid!</p>
          </ion-item>
          <ion-item class="inputBox">
              <ion-label>Password:</ion-label>
            <ion-input [(ngModel)]="user.password" formControlName="password" type="password"></ion-input>
          </ion-item>

        <ion-item *ngIf="!registerForm.controls.email.valid  && submitAttempt">
          <p small class="errorMsg">Email is not valid!</p>
        </ion-item>
        <ion-item class="inputBox">
            <ion-label>Email:</ion-label>
          <ion-input [(ngModel)]="user.email" formControlName="email" type="text"></ion-input>
        </ion-item>

        <ion-item class="inputBox">
            <ion-label item-start>Year:</ion-label>
            <ion-select item-start style="margin: 0px !important; padding: 0px !important;" [(ngModel)]="user.year" formControlName="year" okText="Okay" cancelText="Dismiss">
                <ion-option value="1">First</ion-option>
                <ion-option value="2">Second</ion-option>
                <ion-option value="3">Third</ion-option>
                <ion-option value="4">Fourth</ion-option>
              </ion-select>
        </ion-item>

        <ion-item class="inputBox">
            <ion-label item-start style="width: 2px !important;">Department:</ion-label>
            <ion-select item-start style="margin: 0px !important; padding: 0px !important;" [(ngModel)]="user.department" formControlName="department" okText="Okay" cancelText="Dismiss">
                <ion-option value="cti">CTI</ion-option>
                <ion-option value="cti-en">CTI-EN</ion-option>
                <ion-option value="is">IS</ion-option>
                <ion-option value="info">INFO</ion-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="!registerForm.controls.group.valid  && submitAttempt">
          <p small class="errorMsg">Group is not valid!</p>
        </ion-item>
        <ion-item class="inputBox">
            <ion-label>Group</ion-label>
          <ion-input [(ngModel)]="user.group" formControlName="group" type="number"></ion-input>
        </ion-item>

        <ion-item *ngIf="!registerForm.controls.subgroup.valid  && submitAttempt">
          <p small class="errorMsg">Subgroup is not valid!</p>
        </ion-item>
        <ion-item class="inputBox">
            <ion-label>Subgroup</ion-label>
          <ion-input [(ngModel)]="user.subgroup" formControlName="subgroup" type="number"></ion-input>
        </ion-item>

        <ion-item *ngIf="!registerForm.controls.phoneNumber.valid  && submitAttempt">
          <p small class="errorMsg">Phone number is not valid!</p>
        </ion-item>
        <ion-item class="inputBox">
            <ion-label>Phone number</ion-label>
          <ion-input [(ngModel)]="user.phoneNumber" formControlName="phoneNumber" type="text"></ion-input>
        </ion-item>

        <button ion-button color="button" block type="submit" class="submitBtn">Register</button>
      </form>

    </ion-list>

  </div>
</ion-content>