page-dashboard {

.header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    
    width: 100%;
    height: 30%;
}


.itemTitle{
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.itemSubTitle{
    font-weight: bold;
    font-size: 11px !important;
    color: map-get($colors, primary);
}

.itemHeader{
    float: left;
    display: fixed;
}

.smallButton{
    height: 20px !important;
    font-size: 15px;
    color: black;
    border-radius: 3px;
    background: transparent;
    border-radius: 5px;
    border: 2px solid map-get($colors, primary);
    color: map-get($colors, primary);
    margin-left: 5px;
}


.itemDescription{
    padding-left: 10px !important;
    margin: 0px !important;
}

.itemTime{
    float: right;
    text-align: center;
}

.selected{
    border-left: solid 4px map-get($colors, primary);
}

ion-list{
    position: fixed;
    left: 0px;
    right: 0px;
}

}
